/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

body {
	font-family: 'Indie Flower', cursive;
	background-image: url('http://www.jennsden.co.uk/wp-content/uploads/2013/11/blackboard-backgrounds-wallpapers.jpg')
}

#header1 {
	padding-bottom: 10px;
	font-family: 'Indie Flower', cursive;
}

#instructions {
	padding: 10px 0 0 0;
	font-family: 'Indie Flower', cursive;
}

#game {
	background-image: url("http://thumbs.dreamstime.com/t/poker-table-felt-green-color-background-31070080.jpg");
	padding: 20px 0 5px 0;
	font-family: 'Indie Flower', cursive;
}

h1, h2, footer, p {
	text-align: center;
	color: white;
}

h1 {
	text-decoration: underline;
	font-size: 54px;
	padding: 20px;
	margin: 0;
	font-weight: bold;
}	
h2 {
	color: white;
	padding: 5px;
	font-size: 50px;
}

p {
	line-height: 25px;
	padding-left: 10px;
	margin: 20px;
	font-size: 28px;
}

p a {
	color: white;
}

p a:hover {
	color: red;
}

footer {
	color: white;
	padding: 5px;
	font-size: 20px
}

#nav a {
	color: white;
	padding: 25px;
	display: block;
	font-size: 24px;
	float: left;
	text-decoration: none;
	font-family: 
}

nav {
	margin: 0 auto;
}

nav a:hover {
	background-color: rgba(255,255,255,0.5);
	color: black;
}

nav button {
	display: block;
	float: right;
	height: 60px;
	width: 200px;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.board {
	height: 50%;
	width: 100%;
	display: inline-block;
	margin-bottom: 30px;
}

.card1 {
	height: 175px;
	width: 126px;
	border: 1px solid black;
	background-image: url('http://www.murphysmagicsupplies.com/images_email/Mandolin_BACK.jpg');
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 0.6% 1.2%;
	cursor: pointer;
}

.card2 {
	height: 198px;
	width: 140px;
	border: 1px solid black;
	background-image: url('http://www.murphysmagicsupplies.com/images_email/Mandolin_BACK.jpg');
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 0.6% 2.4%;
	cursor: pointer;
}

.card3 {
	height: 210px;
	width: 150px;
	border: 1px solid black;
	background-image: url('http://www.murphysmagicsupplies.com/images_email/Mandolin_BACK.jpg');
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 0.6% 4%;
	cursor: pointer;
}

.card4 {
	height: 182px;
	width: 132px;
	border: 1px solid black;
	background-image: url('http://www.murphysmagicsupplies.com/images_email/Mandolin_BACK.jpg');
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 0.6% 1.7%;
	cursor: pointer;
}


/*.blankCard {
	height: 210px;
	width: 150px;
	border: 1px solid black;
	background: transparent;
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 4%;
	cursor: pointer;
}*/

.img1 {
	height: 175px;
	width: 126px;
}

.img2 {
	height: 198px;
	width: 140px;
}

.img3 {
	height: 210px;
	width: 150px;
}

.img4 {
	height: 182px;
	width: 132px;
}

#instructionsblurb {
	text-align: justify;
	padding-bottom: 10px;
}

span {
	color: #ff0000;
}

@media (max-width: 555px) {
		footer {
			font-size: 12px;
	}
}

#game button {
	background-color: transparent;
	font-family: 'Indie Flower';
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: 3px ridge #E4E8E5;
}

#backToTop a{
	color: white;
	text-decoration: none;
}

#game button:hover {
	background-color: rgba(255,255,255,0.7);
	color: #0E3311;
}

